@import "base";

.app {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0;
	overflow: hidden;
}

#videoContainer {
  margin: 0;
}

::cue {
}
::cue(.n1) {
  color: #e74c3c;
}
::cue(.n2) {
  color: #f1c40f;
}
::cue(.n3) {
  color: #2ecc71;
}

.logBar {
  position: relative;
  top: -5px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  color: @white-color;
  background-color: @brand-color;
}
