@import "base";

.app {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0;
	overflow: hidden;
}

#videoContainer {
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	position: relative;
	height: 100%;
  margin: 0;
}

#video {
	// position: absolute;
	width: 100%;
	height: 720px;
	background-color: #000;
	object-fit: contain;
}

#cap {
	position: relative;
	width: 100px;
	height: 52px;
	left: 20%;
	bottom: 120px;
	color: #FFF;
	font-size: 36px;
	text-align: left;
	background: #000;
	overflow: hidden;
	z-index: 1000;
}
.highlight {
	color: @brand-color;
}

::cue {
}
::cue(.n1) {
  color: @brand-color;
}
::cue(.n2) {
  color: #f1c40f;
}
::cue(.n3) {
  color: #2ecc71;
}

.logBar {
  position: relative;
  top: -5px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  color: @white-color;
  background-color: @brand-color;
}
